.sidebar {
  width: 200px; /* Ajusta el ancho si es necesario */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff; /* Fondo blanco */
  padding: 10px;
}

.sidebar h2 {
  text-align: left; /* Asegura que el título también esté alineado */
  padding-left: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  text-align: left;
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
}

.sidebar a:hover {
  background-color: #f0f0f0;
}
